.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
	text-transform: none;
}

.reveal h1 a,
.reveal h2 a,
.reveal h3 a,
.reveal h4 a,
.reveal h5 a,
.reveal h6 a {
	text-transform: none;
	color: #464547;
}

.reveal img.medium { 
	max-height: 80vh;
}